/*variables*/
:root {
   --color-border: #E7E9E9;
   --color-green: #024840;
   --color-light-green: #E3EDE2;
   --color-fff: #fff;
   --color-lime: #E4FD6F;
   --color-title: #011816;
   --color-placeholder: #919392;
   --color-hover: #bc8ce9;
   --color-infoRect: #F7F9F3;
   --border-country: 10px;
   --border-input: 50px;
   --border-forms_info: 15px;
   --border-forms_decor: 20px;
   --border-img: 50%;
}

/*---------------------------------------------------*/